/*SCROLLBAR STYLING */
::-webkit-scrollbar {
    width: 10px; /*width of the scrollbar*/
}

/*Background of scrollbar)*/
::-webkit-scrollbar-track {
    background: #010101;
}

/*Scroll handle*/
::-webkit-scrollbar-thumb {
    background: #6D152B;
    border-radius: 10px;
}

/*Scroll handle when hovered*/
::-webkit-scrollbar-thumb:hover {
    background: #591123;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*Navbar button for small screens */
@media (max-width: 768px) {
    .navbar .d-flex {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navbar .btn {
        margin-top: 355px;
        width: 100%;
    }
}

/*For larger screens*/
@media (min-width: 769px) {
    .navbar .d-flex .btn {
        margin-left: 10px;
    }
}

/*NAVIGATION BAR STYLING*/
.navbar {
    background-color: black; 
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky; 
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Book', serif; 
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar span {
    color: #6D152B;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Franklin Gothic Book', sans-serif;
    text-transform: capitalize;
    font-weight: 400; 
    color: white;
    margin-right: 0;
}

.nav-link.active,
.nav-link:hover {
    color: #6D152B; 
}

.btn-outline {
    color: white !important; 
    border: 1px solid #6D152B !important; 
    background-color: #6D152B !important;
    font-family: 'Franklin Gothic Book', serif !important;
    font-size: 0.8rem!important;
    font-weight: 400!important; 
    padding: 8px 18px!important; 
    text-transform: uppercase!important;
    transition: all 0.3s ease!important;
    border-radius: 15px!important;
    display: flex!important;
    align-items: center!important; 
}

.btn-outline:hover {
    color: #ffffff !important;
    background-color: transparent!important;
    border: 1px solid #6D152B!important;
}
